:root {
    --bmw-blue: #1c69d4;
    --m-light-blue: #81c4ff;
    --m-red: #e7222e;
    --background-gray: #262626;
    --font-light: #f6f6f6;
    --font-dark: #515151;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--font-light);
}

body {
    background-color: var(--background-gray);
}

h1 {
    width: 100%;
    font-size: 10rem;
    text-align: center;
    letter-spacing: 0.025rem;
}

h2 {
    font-size: 2rem;
}

#banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner > div {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: var(--font-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* M-Colors-Divider */
#banner > div::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(
        to right,
        var(--bmw-blue) 0%,
        var(--m-light-blue) 50%,
        var(--m-red) 100%
    );
}

#banner > div > h1 {
    color: var(--font-dark);
}

section.vid  {
    height: 1000vh;
}


section.vid div.holder {
    position: sticky;
    top: 0;
    backface-visibility: hidden;
}

section.vid video {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    will-change: transform;
}

div.story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.info-card {
    width: 450px;
    position: relative;
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

div.info-card h2 {
    display: inline-block;
    position: relative;
}

div.info-card h2::after {
    content: "";
    display: block;
    height: 2px;
    background: var(--bmw-blue);
    transform: scaleX(0.5);
    transform-origin: left;
    margin-top: 8px;
}


div.info-card ul {
    padding-left: 20px;
}

div.info-card li {
    padding-top: 5px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}